LLM_MODEL=openai/gpt-5.4-mini
LLM_TEMPERATURE=1.0
RETRIEVAL_MODEL=all-MiniLM-L6-v2

# Used for testing
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GEMINI_API_KEY=

IMAGE_NAME="maven.ontotext.com/nlp/kg-gen-plus"
